.Dashboard-container {
  display: flex;
  flex-direction: column
  
}

.Dashboard-button-row{
  display: flex;
  
}

.Dashboard-button-row-container{
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.Dashboard-button-container {
  margin: 10px;
  height: 85px;
  width: 95%;
  flex:0.5;
}

.Dashboard-button {
  width: inherit;
  height: inherit;
}

.Dashboard-button-content-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem

}
.Dashboard-card-container {
  margin-bottom: 10px;
}

.Card-container {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Dashboard-date-display-container {
  display: flex;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}
.Dashboard-date-display {
  padding-bottom: 10px;
  padding-left: 15px;
}

.Dashboard-contributor-contianer {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding-bottom: 15px
}

.Dashboard-contributor-contianer div {
 flex: 1;
}

.Dashboard-contributor-info {
  padding: 15px;
  font-size: 1.15rem;
  position: relative;
  top: 4px;
}

.Dashboard-menu-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding-bottom: 15px
}

.Dashboard-menu-list {
  padding: 15px;
  font-size: 1.15rem;
  position: relative;
  top: 4px;
}

.Dashboard-menu-side-note {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  min-width: 65%;
  margin-top: 10px;
  max-height: 90px;

}
.Dashboard-menu-side-note_header {
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}
.Dashboard-menu-side-note_content {
  font-size: 0.90rem;
  padding: 10px;
  text-align: center;
}

.Dashboard-menu-items {
  display: flex;
  flex-direction: column;
  padding-left: 8px ;
}

.Dashboard-menu-items-each {
  font-size: 0.80rem;
  padding-bottom: 1px;
  content: '\2713';
}

.Dashboard-nomeal-contianer{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding-bottom: 15px
}

.Dashboard-instructionForSubscriber-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding-bottom: 15px
}

.Dashboard-no-details {
  padding: 15px;
}

.Dashboard-instructionForSubscriber-container {
  display: flex;
}

.Dashboard-instructionForSubscriber-label {

}
.Dashboard-instructionForSubscriber-value {
  
}